# Base blog settings
baseurl                      : "" # the subpath of your site, e.g. /blog/
url                          : "" # the base hostname & protocol for your site, e.g. `http://<username>.github.io` - for GitHub

blog:
  title                      : donghunholic
  description                : >
                               this should contain a proper description

# Layout configuration
  logo_path                  : #"assets/img/dactl.svg" # path to logo file
  search_path                : # "yourgitusername.github.io"
                               # needed for searchbox in archive page
  hero_layout                : true # turn on hero layout for blog and posts
  hero_placeholder           : "assets/img/generic_hero.jpg" # placeholder for hero image
  excerpts                   : true # show excerpts instead of full post content on blog page
  inline_footnotes           : true # enable/disable barefoot inline footnotes
  titles_only                : false # show post titles only on main blog page

# Fonts
  font                       : '"Rubik", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif'
  load_google_fonts          : 'Rubik:400,400italic,700,700italic'

# Author info
author:
  fullname                  : Donghun Shin
#  rss                       : true # generate RSS feed and show its icon in header
  mail                      : sdh728@postech.ac.kr
#  twitter                   : twitter-user-name
  github                    : donghunholic
#  youtube                   : youtube-user-name
#  stackoverflow             : stackoverflow-user-name
#  disqus                    : dactl # your disqus site name
#  google_analytics          : # 'UA-XXXXXXXX-X'
#  photo                     : "uploads/me2.png"
#  photo2x                   : "uploads/me.png"

## Advanced blog settings
## You should not change anything here unless you know what you are doing

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap

# Permalinks
permalink                    : posts/:slug

# Posts
excerpt_separator            : "<!--break-->"

# Pagination
paginate                     : 5
paginate_path                : '/page-:num/'

# Tags
collections:
  my_tags:
    output: true
    permalink: /tag/:slug/
defaults:
  -
    scope:
      path: ""
      type: my_tags
    values:
      layout: blog-by-tag

# Handling Reading
exclude                      : ["README.md", "README.html"]

# Markdown and highlighter settings
markdown: kramdown
highlighter: rouge

# Kramdown settings
kramdown:
  input: GFM
  hard_wrap: false
  parse_block_html: true
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  entity_output: as_char
  toc_levels: 1..6
  footnote_nr: 1
  show_warnings: false
  syntax_highlighter: rouge
  math_engine: mathjax
  parse_span_html: true
  remove_span_html_tags: false
  transliterated_header_ids: false
  auto_ids: true
  enable_coderay: false
  ignore_errors: false
  template: GFM

# Sass settings
sass:
  sass_dir                : _sass
  style                   : compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings               : all
  endings                 : all
  comments                : ["<!-- ", " -->"]
  blanklines              : true
  profile                 : false
  ignore:
  envs                    : [local]
